
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

# Ignore all contents within dev/local/
symfony-x/local/**

# Do not ignore the dev/local/ directory itself
!/symfony-x/local/

# Do not ignore the dev/local/tmp/ directory
!/symfony-x/local/tmp/

# Ignore all contents within dev/local/tmp/
symfony-x/local/tmp/**

# Do not ignore the specific file dev/local/readme.md
!/symfony-x/local/readme.md
###< symfony/framework-bundle ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
