
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

##########################################
# Symfony-X
# @todo: make a bundle
# ########################################

######## sets up dev/local/ directory for local development exlusions
# Ignore all contents within dev/local/
symfony-x/dev/local/**
# Do not ignore the dev/local/ directory itself
!/symfony-x/dev/local/
# Do not ignore the dev/local/tmp/ directory
!/symfony-x/dev/local/tmp/
# Ignore all contents within dev/local/tmp/
symfony-x/dev/local/tmp/**
# Do not ignore the specific file dev/local/readme.md
!/symfony-x/dev/local/readme.md

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> php-cs-fixer/shim ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< php-cs-fixer/shim ###
